.actContainer{
	margin-right: 20px;
	margin-bottom:30px;
	border-color: #373c5f;
	padding-left:0px;
	padding-right:0px;
	height:565px;
	width:270px;


}
.actPanel{
	height:550px;
	background-color: #373c5f;
}
.actHeading{
	color:#4bd6e9;
	margin-top: 0px;
	margin-bottom: 0px;

}


.initActContent{
  font-size: 2em;
  font-family: 'Lobster', cursive;
  
  color: #444a6f;

  position: absolute;
  margin:auto; 
  top: 0; left: 0; bottom: 0; right: 0;  
  height: 80px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;

  -moz-text-shadow:1px 1px 1px #000;
  -webkit-text-shadow:1px 1px 1px #000;
  text-shadow:1px 1px 1px #000;


}

.activityPanel{

	height:480px;
	background-color: #373c5f;
	padding-top: 0px;
	padding-bottom: 20px;
	margin-right: -15px;
/*	padding: 0px 25px 15px 10px;*/
}
.activity-item {
	margin-top: 6px;
	margin-bottom: 6px;
	border-width: 0px!important;
	border-radius: 8px!important;
	background-clip: padding-box!important;
	box-sizing: border-box;
}

.presentation {
	background-color: #73bbd0!important;
	/*background: #0000ff!important;*/
	background-clip: padding-box;

}

.group-work {
	background: #fcada0!important;
	/*background:  #ff3300!important;*/

}

.discussion {
	background: #c2dd94!important;
	/*background: #00ff00!important;*/

}

.break {
	background: #feea85!important;
	/*background: #990099!important;*/


}

.addActBtn{
	position: absolute;
	margin: auto; 
	bottom: 0px;
	width: 100%;
	left: 0;  right: 0;  


}
.addActBtn .btnStyle{
	background-color: #4bd6e9;
	padding-top: 12px;
	padding-bottom: 12px;
}
.addActBtn h3{

	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #373c5f;
}

.addHeading{
	width: 100%;
	background-color: #f5f3e5;
	text-align: center;
	padding:0px;
	margin-bottom: 0px;

}
.addHeading h3{
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-horizontal div{
	margin:5px 15px;
}
.addActPanel{
	padding:0px; 
}
.addActPanel div{
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 0px;

}


.actDescrption{
	margin:10px -15px -10px -15px; 
	border-bottom-right-radius:8px;
	border-bottom-left-radius:8px;
	background-color:#f5f3e5;
    text-align: justify;
	padding: 0px 5px;

}