.addMeeting{
	padding: 20px 0px 20px 20px;
}

.addMeeting .btn-default{
	/*float: right;*/
	margin-right: 2%;
	margin-top: 2%;
}

.backBTN{
	margin-left: 22%;
	float: left;
}

.creatBTN{
	float: right;
	margin-right: 17%;
}

.addMeeting .time{
	margin-top: 5%;
}

