
.meetingContainer{
  background-color: #e7e5d8;
  height:565px;
  overflow:hidden;
}

/*meetinglist view*/
.meetinglist{

  padding: 20px;

}

/*components in timeline*/
#cd-timeline { 
  position: relative; 
  padding: 0 2em; 
}
#cd-timeline::before { 
  content: ''; 
  position: absolute; 
  top: 10px; 
  left: 0px; 
  height: 4px; 
  width: 96%; 
  background: #444a6f; 
            -moz-box-shadow:1px 1px 2px #373c5f;
  -webkit-box-shadow:1px 1px 2px #373c5f;
  box-shadow:1px 1px 2px #373c5f;
} 
.circle {
     width: 20px;
     height: 20px;
     background: #444a6f;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
               -moz-box-shadow:1px 1px 1px #373c5f;
  -webkit-box-shadow:1px 1px 1px #373c5f;
  box-shadow:1px 1px 1px #373c5f;
 }
.square {
     width: 5px;
     height: 20px;
     margin: 0px 7.5px ; 
     background: #444a6f;
          -moz-box-shadow:1px 1px 1px #373c5f;
  -webkit-box-shadow:1px 1px 1px #373c5f;
  box-shadow:1px 1px 1px #373c5f;
 }


.addBtn{
   position: absolute;
   right:30px;
   top: 8px;
   width: 50px;
   height: 50px;
   background-color: #4bd6e9;
   color:white;
   padding: 6px 6px 6px 7px;
   border:5px solid #444a6f;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;


     -moz-box-shadow:1px 1px 3px #373c5f;
  -webkit-box-shadow:1px 1px 3px #373c5f;
  box-shadow:1px 1px 3px #373c5f;

}


.backBtn{
   position: absolute;
   left:20px;
   top: 12px;
   width: 40px;
   height: 40px;
   background: #444a6f;
   color:white;
   padding: 6px 6px 6px 7px;
   border:1px solid #444a6f;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
   z-index:1;

     -moz-box-shadow:1px 1px 3px #555;
  -webkit-box-shadow:1px 1px 3px #555;
  box-shadow:1px 1px 3px #555;

}


.forwardBtn{
   position: absolute;
   right:100px;
   top: 12px;
   width: 40px;
   height: 40px;
   background: #444a6f;
   color:white;
   padding: 6px 6px 6px 7px;
   border:1px solid #444a6f;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
     -moz-box-shadow:1px 1px 3px #555;
  -webkit-box-shadow:1px 1px 3px #555;
  box-shadow:1px 1px 3px #555;

}

.BtnDisabled{
   background: #d2cdc6;
   border:1px solid #d2cdc6;
}



.initContent{
  font-size: 3em;
  font-family: 'Lobster', cursive;
  
  color: #B1ABA0;

  position: absolute;
  margin:auto; 
  top: 0; left: 0; bottom: 0; right: 0;  
  height: 80px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;

  -moz-text-shadow:1px 1px 1px #5A382A;
  -webkit-text-shadow:1px 1px 1px #5A382A;
  text-shadow:1px 1px 1px #5A382A;


}



/*every meeting panel*/
.meetingPanel{
  border: 0px solid #ddd; 
  border-radius: 5px;
  overflow: hidden;
  height: 485px;
  margin-bottom: 50px;
  background-color: white;
  padding-bottom: 40px;

      -moz-box-shadow:1px 1px 2px #CAC4BB;
  -webkit-box-shadow:1px 1px 2px #CAC4BB;
  box-shadow:1px 1px 2px #CAC4BB;


}

/*meeting info panel*/
.meetingInfo{
  padding: 15px 10px 15px 10px; 
  background-color: #f5f3e5;
  position: relative;


}

.meetingInfo table tr{
  text-align:left;
  vertical-align: text-top;
}

.meetingInfo table tr th{
  width: 95px;
}


/*edit button*/
.editMeeting{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}


/*CSS for scroll bar if overflow, only effective when using Safari and Chrome*/
.detailInfo{
  margin: 10px -10px 0px 10px;
  padding-right:10px;
  height:90px;
  overflow-y:auto;
  overflow-x:hidden; 

}

.detailInfo::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
  background-color: #e5e1d9;
}

.detailInfo::-webkit-scrollbar
{
  width: 6px;
  background-color: #CAC4BB;
}

.detailInfo::-webkit-scrollbar-thumb
{
  background-color: #CAC4BB;
}


.moreInfo{

  font-size:12px;
  color: #5D2712;
  cursor: hand;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 10px;
}


/*triangle to mark the 30% requirement for break*/
.triangleDown {
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 10px solid #f0ad4e;
     position: absolute;
     bottom: 0px;
     left: 30%;
      transform: translate(-5px,0px);
      -ms-transform: translate(-5px,0px);   /* IE 9 */
      -webkit-transform: translate(-5px,0px); /* Safari and Chrome */
      -o-transform: translate(-5px,0px);    /* Opera */
      -moz-transform: translate(-5px,0px);  

 }



/*warning animation style for break time in type bar*/
.warningBreak {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #f0ad4e;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
     -moz-transition: width .6s ease;  
          transition: width .6s ease;


  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:    -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .20) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .20) 50%, rgba(255, 255, 255, .20) 75%, transparent 75%, transparent);
  
  background-size: 40px 40px;
  -webkit-animation: barberpole 1s linear infinite;
     -moz-animation: barberpole 1s linear infinite;
          animation: barberpole 1s linear infinite;
}



@-webkit-keyframes barberpole {
   from {
   background-position: 40px 0;
  }
  to {
      background-position: 0 0;
  }
}
@-moz-keyframes barberpole {
   from {
   background-position: 40px 0;
  }
  to {
      background-position: 0 0;
  }
}
@keyframes barberpole {
   from {
   background-position: 40px 0;
  }
  to {
      background-position: 0 0;
  }
}




/*activities container for meeting*/
.listPanel{
  position: relative;
  overflow-y: scroll;
  overflow-x:hidden; 
  background-color: white;
  text-align: center; 


}
.mlPanel{
  margin-left: 0px;
  margin-right: -15px; 
  padding:0px 5px 0px 5px;
  height: 305px;
/*  padding:0px 15px 15px 5px;*/

}



.actList{
	margin: 10px;
}



.meetingTags{
  height: 20px;
  background-color: #f5f3e5;
  color:#000;
  font-size: 12px;
  padding: 3px 8px 3px 8px;
  position: relative; 
  top: 5px;
/*  left: 15px;*/
  margin-left: 12px;
  margin-bottom: 20px;

  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  


    -moz-box-shadow:1px 1px 1px #CAC4BB;
  -webkit-box-shadow:1px 1px 1px #CAC4BB;
  box-shadow:1px 1px 1px #CAC4BB;

  } 
.meetingTags:before{
  content:"";
  float:left;
  position:absolute;
  top:0px;
  left:-8px;
  width:0;
  height:0;
  border-color:transparent #f5f3e5 transparent transparent;
  border-style:solid;
  border-width:10px 8px 10px 0;    
  }

.meetingTags:after{
  content:"";
  position:absolute;
  top:8px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #5D2712;
  -webkit-box-shadow:-1px -1px 2px #5D2712;
  box-shadow:-1px -1px 2px #5D2712;
  }
