
.meetingContainer{
  background-color: #e7e5d8;
}


.meetinglist{
  padding: 20px;
  height:550px;
  overflow: hidden;


}

.meetingInfo{

	padding: 10px; 
  background-color: #f5f3e5;
  position: relative;

}
.meetingInfo h5{
	margin: 10px;
/*  color:#31708f;*/

  
}
.editMeeting{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.meetingPanel{
	border: 0px solid #ddd; 
  border-radius: 5px;
  overflow: hidden;
	height: 450px;
/*  width: 230px;*/
  margin-bottom: 40px;


}

.listPanel{
  position: relative;
  overflow-y: scroll;
  background-color: white;
  text-align: center; 
  height: 320px;

}
.mlPanel{
  margin-left: 0px;
  margin-right: -15px; 
  padding:0px 5px 15px 5px;
/*  padding:0px 15px 15px 5px;*/
}



.actList{
	margin: 10px;
}
#cd-timeline { 
  position: relative; 
  padding: 0 2em; 
}
#cd-timeline::before { 
  content: ''; 
  position: absolute; 
  top: 10px; 
  left: 0px; 
  height: 4px; 
  width: 98%; 
  background: #444a6f; 
} 


.addBtn{
   position: absolute;
   right:30px;
   top: 8px;
   width: 50px;
   height: 50px;
   background: #4bd6e9;
   color:white;
   padding: 6px 6px 6px 7px;
   border:5px solid #444a6f;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;

}


.backBtn{
   position: absolute;
   left:20px;
   top: 12px;
   width: 40px;
   height: 40px;
   background: #444a6f;
   color:white;
   padding: 6px 6px 6px 7px;
   border:1px solid #444a6f;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;
   z-index:1;

}
.forwardBtn{
   position: absolute;
   right:100px;
   top: 12px;
   width: 40px;
   height: 40px;
   background: #444a6f;
   color:white;
   padding: 6px 6px 6px 7px;
   border:1px solid #444a6f;
   -moz-border-radius: 100px;
   -webkit-border-radius: 100px;
   border-radius: 100px;


}



.circle {
     width: 20px;
     height: 20px;
     background: #444a6f;
     -moz-border-radius: 50px;
     -webkit-border-radius: 50px;
     border-radius: 50px;
 }
.square {
     width: 5px;
     height: 20px;
     margin: 0px 7.5px ; 
     background: #444a6f;
 }

.triangleDown {
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-top: 10px solid #f0ad4e;
     position: absolute;
     bottom: 0px;
     left: 30%;
      transform: translate(-5px,0px);
      -ms-transform: translate(-5px,0px);   /* IE 9 */
      -webkit-transform: translate(-5px,0px); /* Safari and Chrome */
      -o-transform: translate(-5px,0px);    /* Opera */
      -moz-transform: translate(-5px,0px);  

 }



.warningBreak {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #f0ad4e;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
     -moz-transition: width .6s ease;  
          transition: width .6s ease;


  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:    -moz-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .20) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .20) 50%, rgba(255, 255, 255, .20) 75%, transparent 75%, transparent);
  
  background-size: 40px 40px;
  -webkit-animation: barberpole 1s linear infinite;
     -moz-animation: barberpole 1s linear infinite;
          animation: barberpole 1s linear infinite;
}



@-webkit-keyframes barberpole {
 from {
 background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
@-moz-keyframes barberpole {
 from {
 background-position: 40px 0;
}
to {
    background-position: 0 0;
}
}
@keyframes barberpole {
 from {
 background-position: 40px 0;
}
to {
    background-position: 0 0;
}



