
<!-- <div class="panel-heading">
		<p class="text-center">Activity List</p>
</div>
<div class="panel-body">
	<div>
		<button class="btn btn-default btn-block"> 120 min Make the prototype</button>    
	</div>
	<div>
		<button class="btn btn-default btn-block"> 20 min Assign the work</button>
	</div>
	<div>
		<button class="btn btn-default btn-block">60 min Get down to work</button>
	</div>
	<div style="position: relative;bottom:-300px">
		<button class="btn btn-info btn-block" >Add Activity</button>
	</div>
</div> -->

<div ng-show="activitylistshow">
	<div class="row simpleDemo" style="text-align: center;">
		<div ng-repeat="(listName, list) in models.lists" >
		    <div class="panel panel-info">
		        <div class="panel-heading">
		            <h3 class="panel-title">{{listName}}</h3>
		        </div>
		        <!-- <div class="panel-body" ng-include="'simple/simple.html'"> -->
		        <div class="panel-body" >
		            <ul dnd-list="list">

		                <li ng-repeat="item in list"
		                    dnd-draggable="item"
		                    dnd-moved="dragactivity($index)"
		                    dnd-effect-allowed="move"
		                    dnd-selected="models.selected = item"
		                    ng-class="{'selected': models.selected === item}"
		                    >
		                    <div class="row">
                                <div class="col-xs-10" uib-popover={{item.description}} popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen" style="cursor: hand;cursor: pointer;">{{item.name}}</div>
		                    	<div class="cos-xs-2">
		                    		<!-- <button type="button" class="btn btn-default btn-sm"> -->
		                    			<span class="glyphicon glyphicon-pencil" ng-click="editActivity($index)" style="cursor: hand;cursor: pointer;"></span>
		                    		<!-- </button>
		                    		<button type="button" class="btn btn-default"> -->
		                    			<span class="glyphicon glyphicon-remove" ng-click="removeActivity($index)" style="cursor: hand;cursor: pointer;"></span>
		                    	<!-- 	</button> -->
		                       </div>
		                  
		                    </div>
		                    
		                    
		                   <!--  <div class="cos-xs-3"></div> -->
		                </li>
		            </ul>

		        </div>
		    </div>
		</div>
	</div>
	<div style="position: absolute;bottom:10px;width: 100%">
		<button class="btn btn-info btn-block" ng-click="addactivity()">Add Activity</button>
	</div>
</div>

<div ng-show="addactivityshow">
	<form method="post" class="form-horizontal" style="height:500px;">
<!-- 	<div class="form-group" style="height:500px;"> -->

	<div class="panel panel-heading">
		<div class="panel-heading">Add Activity</div>
		<!-- <p class="text-center"></p> -->
	</div>
	<div class="panel-body">
		<div class="form-group">
			<input class="form-control" placeholder="Name" ng-model="$parent.newAct_name" required>
		</div>
		<div class="form-group">
			<div class="col-xs-9" style="padding: 0px">
				<input ng-model="$parent.newAct_length" class="form-control" placeholder="Length" type="number" min="0">
			</div>
			<label class="col-xs-3">min</label>
		</div>
        
        <div class="form-group">
		<select ng-model="$parent.newAct_type" class="form-control">
		  <option value="presentation" select="selected">Presentation</option>
		  <option value="group-work">Group Work</option>
		  <option value="discussion">Discussion</option>
		  <option value="break">Break</option>
		</select>
		</div>
        
        <div class="form-group">
        	<textarea ng-model="$parent.newAct_description" class="form-control" rows="3" placeholder="Description" required></textarea>	
        </div>
			
		<div class="from-group">
			<button ng-click="createActivitycancel()" type="submit" class="btn btn-danger">Cancel</button>
			<button ng-click="createActivity()" class="btn btn-info creatBTN">Done</button>
		</div>
	</div>
</form>
</div>