<!-- 
<form method="post">
	<div class="col-xs-3 form-group" style="height:500px;border: 1px solid #00ffff;"> -->


<form method="post">
	<div class="col-xs-3 form-group panel panel-default" style="height:500px;">

		<div>
			<p class="text-center">Add Activity</p>
		</div>
		<div>
			<input class="form-control" placeholder="Name" ng-model="$parent.newAct_name">

		</div>
		<div class="form-group">
			<div class="col-xs-9" style="padding: 0px">
				<input ng-model="$parent.newAct_length" class="form-control" placeholder="Length">
			</div>
			<label class="col-xs-3">min</label>
		</div>

		<select ng-model="$parent.newAct_type" class="form-control">
		  <option value="presentation">Presentation</option>
		  <option value="group-work">Group Work</option>
		  <option value="discussion">Discussion</option>
		  <option value="break">Break</option>
		</select>

		<textarea ng-model="$parent.newAct_description" class="form-control" rows="3" placeholder="Description"></textarea>
		

		<!-- <div style="position: relative;bottom:-200px"> -->
			<button ng-click="createActivity()" class="btn btn-info btn-block">Done</button>
		<!-- </div> -->
	</div>
</form>
