
<form>
	<div class="col-xs-3 form-group panel panel-default" style="height:500px;">
		<div>
			<p class="text-center">Add Activity</p>
		</div>
		<div>
			<input class="form-control" placeholder="Name">
		</div>
		<div class="form-group">
			<div class="col-xs-9" style="padding: 0px">
				<input class="form-control" placeholder="Length">
			</div>
			<label class="col-xs-3">min</label>
		</div>

		<select class="form-control">
		  <option>Presentation</option>
		  <option>Group Work</option>
		  <option>Discussion</option>
		  <option>Break</option>
		</select>

		<textarea class="form-control" rows="3" placeholder="Description"></textarea>
		

		<div style="position: relative;bottom:-200px">
			<button class="btn btn-info btn-block" type="submit">Done</button>
		</div>
	</div>
</form>