<div class="front-bg">
	<img class="front-image" src="//abs.twimg.com/b/front_page/v1/EU_6.jpg" alt="Error when loading this image." style="display: block;">
</div>

<div class="front-card">

	<div class="front-welcome">
		<div class="front-welcome-text">
			<h1>Ready to plan your meeting?</h1>
			<p>{{userObject}}</p>
		</div>
	</div>

	<div class="front-signin">
		<form class="signin" method="post">
			<div class="field">
				<input type="text" class="text-input" maxlength="20" placeholder="Your email" ng-model="signinEmail">
			</div>
			<div class="field">
				<input type="password" class="text-input" placeholder="Your password" ng-model="signinPassword">
			</div>
			<button class="btn btn-primary" style="float: right;" ng-click="authWithPassword()">Log in</button>
		</form>
	</div>

	<div class="front-signup">
		<h2>
			<strong>New here?</strong>
			Sign up
		</h2>
		<form class="signup" method="post">
			<div class="field">
				<input type="text" class="text-input" maxlength="20" placeholder="Email address" ng-model="signupEmail">
			</div>
			<div class="field">
				<input type="password" class="text-input" maxlength="20" placeholder="Password" ng-model="signupPassword">
			</div>
			<button class="btn btn-primary" style="float: right;" ng-click="createUser()">Sign up</button>
		</form>
	</div>



</div>


