
<!-- <div class="container">
	<ng-include src="'partials/title.html'" ng-controller='TitleCtrl'></ng-include>
</div> -->

	<ng-include src="'partials/navbar.html'" ng-controller="NavbarCtrl"></ng-include>

<div class="container">
	<div class="col-xs-6">
		<h3>A Home Meeting Service</h3>
		<p>quick start</p>


		<!-- testing message -->
		<!-- <pre><p>{{users | json}}</p></pre> -->

		Email: <input type="text" ng-model="email"><br>
		Password: <input type="password" ng-model="password">
		<br><br>

		<button ng-click="createUser()">Create User</button>
		<br><br>

		<p ng-if="message">Message: <strong>{{message}}</strong></p>
		<p ng-if="error">Error: <strong>{{error}}</strong></p>

		<p>Extra message: {{auth.getAuth()}}</p>

		<!-- <p>{{meeting}}</p> -->

		<!-- end of testing codes -->

		<a href="#/manage" class="btn btn-primary">Create new Meeting</a>
	</div>
</div>