<!-- meetinglist view -->
<div ng-show="meetinglistshow" class="meetinglist">


<!-- 	<div ng-controller="PagerDemoCtrl">
	  <h4>Pager</h4>
	  <pre>You are currently on page {{currentPage}}</pre>
	  <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager>
	</div> -->
	<button class="backBtn" ng-click="Back()" ><span class="glyphicon glyphicon-chevron-left"></span></button>

	<section id="cd-timeline">

		<div ng-repeat="item in meeting" class="col-xs-4" ng-show="meetingShow[$index]">
			<!-- <button ng-click="Forward($index)">Forward</button> -->
			<div class="circle" uib-popover={{item.mDate}} popover-trigger="mouseenter" style="cursor: hand;cursor: pointer;">
			</div>
			<div class="square"></div>
			<div class="meetingPanel">
 
	            <div class="editMeeting">
	            	<span class="glyphicon glyphicon-pencil" ng-click="editMeeting($index)" style="cursor: hand;cursor: pointer;"></span>
	            	<span class="glyphicon glyphicon-trash" ng-click="removeMeeting($index)" style="cursor: hand;cursor: pointer;"></span>
	            <!-- 	<span class="glyphicon glyphicon-trash" ng-click="getMID($id)" style="cursor: hand;cursor: pointer;"></span> -->
	            </div>
	    	
				<div class="meetingInfo">
					<h5>Meeting: {{item.mName}}<br>
						Location: {{item.MPlace}}<br>
						Start Time: {{item.mTime}}<br>
						End   &nbsp;Time:  {{item.mEndTime}}<br>
						Total Length: {{item.mLength}}min<br>
					</h5>
				</div>

				<div>
					<uib-progress >

						<uib-bar ng-repeat="bar in actType[$index]" class="{{bar.class}}" value="bar.value" type="{{bar.type}}"><span>{{bar.value}}%</span>

						</uib-bar>
					</uib-progress>
				</div>


				<div class="row simpleDemo" style="text-align: center">
					<div ng-repeat="(listName, list) in models.lists">
						<div class="panel-body">
				            <ul dnd-list="list[$parent.$index]"
				            	dnd-inserted="insertactivity(item, $parent.$index, index)"
				            >
				            

				                <li ng-repeat="item in list[$parent.$index]"
				                    dnd-draggable="item"
				                    dnd-moved="dragactivity($index, $parent.$parent.$index)"
				                    dnd-effect-allowed="move"
				                    dnd-selected="models.selected = item"
				                    class="activity-item"
				                    ng-class="item.type"
				                    ng-class="{'selected': models.selected === item}"
				                    >
				                    <div class="row">
		                                <div class="col-xs-10" uib-popover={{item.description}} popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen" style="cursor: hand;cursor: pointer;">

			                                <div class="col-xs-3" style="border-right:1px solid #ddd; padding:0px 0px 0px 0px">{{item.length}}min
			                                </div>
			                                <div class="col-xs-9">{{item.name}}</div>

		                                </div>

				                    	<div class="cos-xs-2">
			                    			<span class="glyphicon glyphicon-remove" ng-click="removeActivity($parent.$parent.$index, $index)" style="cursor: hand;cursor: pointer;">
			                    			</span>
				                       </div>
				                  
				                    </div>
				                </li>
				            </ul>

				        </div>
			        </div>
		        </div>
			</div>
		</div>
	</section>


	<div >

		<button class="forwardBtn" ng-click="Forward()" ><span class="glyphicon glyphicon-chevron-right"></span></button>
		<button class="addBtn" ng-click="addmeeting()"><span class="glyphicon glyphicon-plus" style="color:white"></span></button>

	</div>


</div>
<!-- meetinglist view -->


<!-- add meeting view -->
<div ng-show="addmeetingshow" class="addMeeting">
	<form class="form-horizontal panel-body">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-10"><input class="form-control" id="" placeholder="" ng-model="mName" required></div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label time">Date</label>
		    <div class="col-sm-4 time">
		        <p class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
			 </div>

        <label class="col-sm-2 control-label time">Start Time</label>
	    <div class="col-sm-4">
	    	<uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
	    </div>
	   </div>

	   <div class="form-group">
	    <label class="col-sm-2 control-label">Location</label>
	    <div class="col-sm-10"><input class="form-control" ng-model="MPlace"></div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Tag</label>
	    <div class="col-sm-10">
	    	<tags-input ng-model="tags">
		        <auto-complete source="loadTags($query)"></auto-complete>
		    </tags-input>
		</div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Participants</label>
	    <div class="col-sm-10">
	    	<tags-input ng-model="Mmembers" placeholder="Add Email Address of Participants">
		        <auto-complete source="loadTags($query)" ></auto-complete
		    </tags-input>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-s	m-2 control-label">Description</label>
	    <div class="col-sm-10"><textarea class="form-control" rows="3" ng-model="Mdescript"></textarea></div>
	  </div>
	  <div class="form-group">
	  	<button ng-click="goback()" type="submit" class="btn btn-default backBTN"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
	  	<button type="submit" class="btn btn-default creatBTN" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="createMeeting(mName,MPlace,dt, mytime, tags,Mmembers,Mdescript)">Create</button>
	  </div>

	</form>
</div>
<!-- finishing add meeting view -->

<!-- edit meeting view -->
<div ng-show="editmeetingshow" class="addMeeting">
	<form class="form-horizontal panel-body">
	  <div class="form-group">
	    <label class="col-sm-2 control-label">Name</label>
	    <div class="col-sm-10"><input class="form-control" id="" placeholder="" ng-model="eMeeting.mName" required></div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label time">Date</label>
		    <div class="col-sm-4 time">
		        <p class="input-group">
		          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="eMeeting.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
			 </div>

        <label class="col-sm-2 control-label time">Start Time</label>
	    <div class="col-sm-4">
	    	<uib-timepicker ng-model="eMeeting.mtime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></uib-timepicker>
	    </div>
	   </div>

	   <div class="form-group">
	    <label class="col-sm-2 control-label">Location</label>
	    <div class="col-sm-10"><input class="form-control" ng-model="eMeeting.place"></div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Tag</label>
	    <div class="col-sm-10">
	    	<tags-input ng-model="eMeeting.tag">
		        <auto-complete source="loadTags($query)"></auto-complete>
		    </tags-input>
		</div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label">Participants</label>
	    <div class="col-sm-10">
	    	<tags-input ng-model="eMeeting.members" placeholder="Add Email Address of Participants">
		        <auto-complete source="loadTags($query)" ></auto-complete
		    </tags-input>
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="col-s	m-2 control-label">Description</label>
	    <div class="col-sm-10">
	    	<textarea class="form-control" rows="3" ng-model="eMeeting.descript"></textarea>
	    </div>
	  </div>

	  <div class="form-group">
	  	<button ng-click="goback()" type="submit" class="btn btn-default backBTN"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
	  	<button type="submit" class="btn btn-default creatBTN" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="saveEditM(eMindex)">Save</button>
	  </div>

	</form>
</div>
<!-- edit meeting view -->

