<!-- <div> 

  <div class="col-xs-12 simpleDemo" ng-controller='SimpleDemoController'>

        <div class="row">
            <div ng-repeat="(listName, list) in models.lists" class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">List {{listName}}</h3>
                    </div>

                    
                    <div class="panel-body" >
                        <ul dnd-list="list">
                            
                            <li ng-repeat="item in list"
                                dnd-draggable="item" 
                                dnd-moved="list.splice($index, 1)"
                                dnd-effect-allowed="move"
                                dnd-selected="models.selected = item"
                                ng-class="{'selected': models.selected === item}"
                                >
                                {{item.label}}
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

  </div> -->
  <!-- test of drag and drop -->





<!-- test -->

<section id="cd-timeline" ng-controller='MeetinglistCtrl'>
	<div ng-repeat="x in meetingInfo" class="col-xs-4">
		<div class="circle"></div>
		<div class="square"></div>
		<div class="meetingPanel">

			<div class="meetingInfo"><h5>Meeting: {{x.name}}<br>
					Place: {{x.place}} <br>
					Total Length: {{x.time}} <br>
					Tag: {{x.tag}} <br>
				</h5>
			</div>

			<!-- ScaleBar -->
			<div ng-controller="ProgressDemoCtrl">

			    <uib-progress><uib-bar ng-repeat="bar in Activity" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></uib-bar></uib-progress>
			</div>

			<!-- Acitivity List -->
			<div>
			<uib-accordion close-others="oneAtATime" >

			<!-- need an edit button -->
			    <uib-accordion-group heading="60 min |  Discuss the idea" class="actList">
			      <p>Desciption of the activity</p>
			    </uib-accordion-group>

			    <uib-accordion-group heading="60 min |  Discuss the idea" class="actList">
			      <p>Desciption of the activity</p>
			    </uib-accordion-group>

			    <uib-accordion-group heading="Delete account" template-url="uib/template/accordion/accordion-group.html">
			      <p>Please, to delete your account, click the button below</p>
			      <button class="btn btn-danger">Delete</button>
			    </uib-accordion-group>

		 		<uib-accordion-group heading="60 min |  Discuss the idea" class="actList">
		      		<p>Desciption of the activity</p>
		    	</uib-accordion-group>
			</uib-accordion>
			</div>
		
		</div>
	</div>



</section>
<!-- </div>
<!-- test -->

